@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
*{padding:0; margin: 0; box-sizing: border-box; max-width: 100%;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  margin-top: 1vw;
  background-color:#f21d1d;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  color: #fcf7fc;
}

h1{
  text-align: center;
  padding: 2rem 0;
}

nav{
  display: flex;
  width: 80vw;
  padding: 1rem;
  font-size: 1.2vw;
  position: absolute;
  justify-content: flex-end;
width: 20vw;
top: -0.3vw;
right: 10vw;
height: 4vw;
color:#b6b4b6;
font-weight:400;
font-size:1.1vw;
cursor:"pointer";
}

.nabvarDh{
  font-size: 30px;
  margin-left: 10vw;
  position: relative;
  color: #f21d1d;
}


nav button{
  height: 3vw;
  width: 3vw;
  
}


a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 0;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}
.card button:hover
{
  background-color: #1257c6;
  cursor: pointer;
}

.card:hover{
  border: 0.5px solid rgb(196, 231, 0);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
    margin-top: 10vw;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
section
{
background-color: #d8d3d8;
position: absolute;
height: 4vw;
width: 100%;
margin: 0 auto;
top: 0vw;
font-family: 'roboto';
}

.dark{
  background-color: #12121296 !important; 
  color: white !important;
}
.dark a {
  color: white;
}

.dark section{
  background-color: #12121296 !important; 
  color: white !important;
}